/* src/components/CalendarComponent.css */

.day-cell {
    position: relative;
    height: 60px;
}

.react-calendar {
    width: 100% !important;
}

.event-block {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 123, 255, 0.7);
    border: 1px solid #007bff;
    border-radius: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0px;
    box-sizing: border-box;
}

.event-block.enable {
    background-color: #97cac58e;
    border: 1px solid #97cac58e;
}
.event-block.booking {
    background-color: #e68168;
    border: 1px solid #e68168;
}